# Customer Credit Risk Scoring Model

### **Objective:**

The goal of this project is to build a **Customer Credit Risk Scoring Model** to assess the likelihood of a customer defaulting on a loan. The model will classify customers as **low-risk** or **high-risk** based on their financial data and personal characteristics. This project is relevant for the finance industry, particularly for banks and lending institutions that need to evaluate creditworthiness before approving loans.

### **1. Problem Definition:**

Credit risk scoring helps financial institutions make informed lending decisions by estimating the likelihood of default on credit obligations. A customer’s risk score is crucial for determining whether to approve a loan, setting interest rates, or determining the credit limit.

### **2. Dataset:**

First of all, let me import some necessary libraries.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import assistant

%matplotlib inline

The dataset in this project is German Credit Dataset, which can be found on https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data. To import the dataset, I install `ucimlrepo` as the Python module using `pip`. As a result, the command to install the module is:

`pip install ucimlrepo`

Subsequently, I proceed some steps as follows in order to get the dataset.

In [2]:
from ucimlrepo import fetch_ucirepo 

# Fetch German Credit Data (ID: 144).
statlog_german_credit_data = fetch_ucirepo(id=144) 

# Extract features into a DataFrame.
df = statlog_german_credit_data.data.features 
# Add target values as a new column 'credibility'.
df["credibility"] = statlog_german_credit_data.data.targets

df.head(5)

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,credibility
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

It looks like the dataset's columns are not well-described, as we can see that the column names are in the format of "Attribute[number]". Therefore, I'd better name these columns properly so that I'll get some insights from the data more conveniently.

In [3]:
statlog_german_credit_data.variables

,name,role,type,demographic,description,units,missing_values
0,Attribute1,Feature,Categorical,None,Status of existing checking account,None,no
1,Attribute2,Feature,Integer,None,Duration,months,no
2,Attribute3,Feature,Categorical,None,Credit history,None,no
3,Attribute4,Feature,Categorical,None,Purpose,None,no
4,Attribute5,Feature,Integer,None,Credit amount,None,no
5,Attribute6,Feature,Categorical,None,Savings account/bonds,None,no
6,Attribute7,Feature,Categorical,Other,Present employment since,None,no
7,Attribute8,Feature,Integer,None,Installment rate in percentage of disposable i...,None,no
8,Attribute9,Feature,Categorical,Marital Status,Personal status and sex,None,no
9,Attribute10,Feature,Categorical,None,Other debtors / guarantors,None,no
10,Attribute11,Feature,Integer,None,Present residence since,None,no
11,Attribute12,Feature,Categorical,None,Property,None,no
12,Attribute13,Feature,Integer,Age,Age,years,no
13,Attribute14,Feature,Categorical,None,Other installment plans,None,no
14,Attribute15,Feature,Categorical,Other,Housing,None,no
15,Attribute16,Feature,Integer,None,Number of existing credits at this bank,None,no
16,Attribute17,Feature,Categorical,Occupation,Job,None,no
17,Attribute18,Feature,Integer,None,Number of people being liable to provide maint...,None,no
18,Attribute19,Feature,Binary,None,Telephone,None,no
19,Attribute20,Feature,Binary,Other,foreign worker,None,no
20,class,Target,Binary,None,"1 = Good, 2 = Bad",None,no

According to the description, I name these columns as below.

In [ ]:
# Define a list of feature column names for the DataFrame.
cols_features = [
    "account_status", "duration", "credit_history", "purpose", "credit_amount", "savings_account_or_bonds", "employment", "installment_rate",
    "status_and_sex", "other_debtors_or_guarantors", "residence", "property", "age", "other_installment_plans", "housing", "num_credits", "job", 
    "num_liable_people", "telephone", "is_foreign"
]

# Rename DataFrame columns (excluding "credibility") using the defined feature names.
df = df.rename(dict(zip(list(df.drop("credibility", axis=1).columns), cols_features)), axis=1)
df.head(5)

,account_status,duration,credit_history,purpose,credit_amount,savings_account_or_bonds,employment,installment_rate,status_and_sex,other_debtors_or_guarantors,...,property,age,other_installment_plans,housing,num_credits,job,num_liable_people,telephone,is_foreign,credibility
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

Unfortunately, the categorical values have already been encoded before, so I'll try my best to interpret the encoded data.

### **3. Project Workflow:**

### **Step 1: Problem Understanding & Business Impact**

- **Objective**: Define the business goal. In this case, it's to predict the probability of customer default to minimize non-performing loans (NPLs).
- **Expected Outcome**: A model that can classify customers into "high-risk" or "low-risk" categories with high accuracy. The model will be evaluated based on metrics like **precision**, **recall**, **F1-score**, and **AUC-ROC**.

### **Step 2: Data Preprocessing**

- **Missing Values Handling**: Use imputation methods like mean, median, or mode for missing values in features.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   account_status               1000 non-null   object
 1   duration                     1000 non-null   int64
 2   credit_history               1000 non-null   object
 3   purpose                      1000 non-null   object
 4   credit_amount                1000 non-null   int64
 5   savings_account_or_bonds     1000 non-null   object
 6   employment                   1000 non-null   object
 7   installment_rate             1000 non-null   int64
 8   status_and_sex               1000 non-null   object
 9   other_debtors_or_guarantors  1000 non-null   object
 10  residence                    1000 non-null   int64
 11  property                     1000 non-null   object
 12  age                          1000 non-null   int64
 13  other_installment_plans      1000 non-null   object
 14  housing                      1000 non-null   object
 15  num_credits                  1000 non-null   int64
 16  job                          1000 non-null   object
 17  num_liable_people            1000 non-null   int64
 18  telephone                    1000 non-null   object
 19  is_foreign                   1000 non-null   object
 20  credibility                  1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

The data has no null values, but are there any outlying numerical values? Let's find out.

* **Outlier Detection:** Identify and handle outliers in features.

In [6]:
cols_w_outliers = []

for col in df.columns:
    if df[col].dtype == "int64" and assistant.has_outliers(df[col]):
        cols_w_outliers.append(col)

cols_w_outliers

['duration', 'credit_amount', 'age', 'num_credits', 'num_liable_people']

We can see that 'duration', 'credit_amount', 'age', 'num_credits', and 'num_liable_people', are the numerical columns that contain outlying values. To improve the model's performance in the future, I need to cut those outliers out. However, inspecting whether the original values outlie can potentially guide us to insights discovery. Hence, for each outliers-containing column, I create another column that saves the outlying status of each value and get rid of outlying values next.

In [7]:
for col in cols_w_outliers:
    df[f"{col}_outlies"] = assistant.get_outliers(df[col])

df.head(5)

,account_status,duration,credit_history,purpose,credit_amount,savings_account_or_bonds,employment,installment_rate,status_and_sex,other_debtors_or_guarantors,...,job,num_liable_people,telephone,is_foreign,credibility,duration_outlies,credit_amount_outlies,age_outlies,num_credits_outlies,num_liable_people_outlies
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A173,1,A192,A201,1,False,False,True,False,False
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A173,1,A191,A201,2,True,False,False,False,False
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A172,2,A191,A201,1,False,False,False,False,True
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A173,2,A191,A201,1,False,False,False,False,True
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A173,2,A191,A201,2,False,False,False,False,True

Here, the saving columns have been included into the dataset, so let's see what each of the the outlying ones' minimum value is.

In [8]:
for col in cols_w_outliers:
    print(f"{col}: {min(df[df[f'{col}_outlies']][col].unique())}")

duration: 45
credit_amount: 7966
age: 65
num_credits: 4
num_liable_people: 2

To get rid of outliers, I decide to replace their values to the median value of the column (outliers excluded in the calculation process). Finally, we shall get the data without any outliers anymore.

In [9]:
for col in cols_w_outliers:
    col_outlies = f"{col}_outlies"
    median = df[~df[col_outlies]][col].median()
    df[col] = df[[col, col_outlies]].apply(lambda v: v[0] if not v[1] else median, axis=1)
    print(f"{col}: impute outliers with {median}")

duration: impute outliers with 18.0
credit_amount: impute outliers with 2145.5
age: impute outliers with 33.0
num_credits: impute outliers with 1.0
num_liable_people: impute outliers with 1.0

C:\Users\User\AppData\Local\Temp\ipykernel_19800\1417718912.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[col] = df[[col, col_outlies]].apply(lambda v: v[0] if not v[1] else median, axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_19800\1417718912.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[col] = df[[col, col_outlies]].apply(lambda v: v[0] if not v[1] else median, axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_19800\1417718912.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[col] = df[[col, col_outlies]].apply(lambda v: v[0] if not v[1] else median, axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_19800\1417718912.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[col] = df[[col, col_outlies]].apply(lambda v: v[0] if not v[1] else median, axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_19800\1417718912.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[col] = df[[col, col_outlies]].apply(lambda v: v[0] if not v[1] else median, axis=1)

* **Feature Scaling:** Scale continuous features to improve model performance.

In [10]:
cols_scl = {}

for col in df.columns:
    if assistant.is_continuous(df[col]):
        cols_scl[col] = assistant.distribution_is_normal(df[col])

cols_scl

{'credit_amount': False}

In [11]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
mms_md = mms.fit(df[["credit_amount"]])
df_ca_scl = pd.DataFrame(mms_md.transform(df[["credit_amount"]]), columns=["credit_amount_scaled"])
df = pd.concat([df, df_ca_scl], axis=1) \
    .drop("credit_amount", axis=1)

df.head(5)

,account_status,duration,credit_history,purpose,savings_account_or_bonds,employment,installment_rate,status_and_sex,other_debtors_or_guarantors,residence,...,num_liable_people,telephone,is_foreign,credibility,duration_outlies,credit_amount_outlies,age_outlies,num_credits_outlies,num_liable_people_outlies,credit_amount_scaled
0,A11,6.0,A34,A43,A65,A75,4,A93,A101,4,...,1.0,A192,A201,1,False,False,True,False,False,0.120414
1,A12,18.0,A32,A43,A61,A73,2,A92,A101,2,...,1.0,A191,A201,2,True,False,False,False,False,0.746986
2,A14,12.0,A34,A46,A61,A74,2,A93,A101,3,...,1.0,A191,A201,1,False,False,False,False,True,0.241876
3,A11,42.0,A32,A42,A61,A74,2,A93,A103,4,...,1.0,A191,A201,1,False,False,False,False,True,1.000000
4,A11,24.0,A33,A40,A61,A73,3,A93,A101,4,...,1.0,A191,A201,2,False,False,False,False,True,0.605346

* **Class Imbalance Handling:** Credit risk datasets often suffer from class imbalance (more low-risk customers than high-risk). Address this with techniques like SMOTE (Synthetic Minority Over-sampling Technique) or undersampling.

In [12]:
df["credibility"].value_counts()

credibility
1    700
2    300
Name: count, dtype: int64

Since the values of the credibility column can be either good (1) or bad (2), I think it would be more intuitive if I determine its values to be high (1) or low (0) instead. Therefore, the credibility column is transformed as mentioned.

In [13]:
df["credibility"] = df["credibility"].apply(lambda v: v if v == 1 else 0)
df["credibility"].value_counts()

credibility
1    700
0    300
Name: count, dtype: int64

In [59]:
from sklearn.base import BaseEstimator, TransformerMixin
from imblearn.over_sampling import SMOTE
from sklearn.utils import resample

class BinaryDataBalancer(BaseEstimator, TransformerMixin):
    def __init__(self, ratio, balancer="both", max_dp=None, min_dp=None):
        try:
            assert type(ratio) in [int, float]
            self.ratio = ratio
        except AssertionError:
            raise TypeError("ratio must be a numeric value.")
        
        try:
            assert balancer in ["smote", "resample", "both"]
            self.balancer = balancer
        except AssertionError:
            raise ValueError("balancer should be either 'smote' or 'resample' or 'both'.")
        
        try:
            assert balancer in ["smote", "both"] and max_dp is not None
            self.max_dp = max_dp
        except AssertionError:
            raise ValueError("If balancer is either 'smote' or 'both', max_dp value must be specified.")
        
        try:
            assert balancer in ["resampling", "both"] and min_dp is not None
            self.min_dp = min_dp
        except AssertionError:
            raise ValueError("If balancer is either 'resampling' or 'both', min_dp value must be specified.")
    

    def fit(self, features, target):
        target = target.rename({target.columns[0]: "target"}, axis=1) if type(target) == pd.DataFrame else pd.DataFrame(target.values, columns=["target"])
        data = pd.concat([features, target], axis=1)
        targets = {"negative": target[target["target"] == 0], "positive": target[target["target"] == 1]}
        size_target_n = len(targets["negative"].index)
        size_target_p = len(targets["positive"].index)

        if size_target_n > size_target_p:
            mj = "negative"
            mn = "positive"
        else:
            mj = "positive"
            mn = "negative"
        
        target_mj = targets[mj]
        target_mn = targets[mn]

        try:
            assert self.balancer in ["smote", "both"] and len(target_mn) <= self.max_dp
        except AssertionError:
            raise ValueError(f"max_dp ({self.max_dp}) is less than the number of the minority data points.")
        
        try:
            assert self.balancer in ["resampling", "both"] and len(target_mj) >= self.min_dp
        except AssertionError:
            raise ValueError(f"min_dp ({self.min_dp}) is more than the number of the majority data points.")
        
        cofactor = (size_target_n + size_target_p)/(self.ratio + 1)
        sizebl_target_mj = cofactor*self.ratio if mj == "negative" else cofactor
        sizebl_target_mn = cofactor if mn == "positive" else cofactor*self.ratio

        for sizebl_mj in range(int(sizebl_target_mj), self.max_dp):
            for sizebl_mn in range(int(sizebl_target_mn), self.min_dp, -1):
                print(sizebl_mj, sizebl_mn, self.max_dp, self.min_dp)
                sizebl_n = sizebl_mj if mj == "negative" else sizebl_mn
                sizebl_p = sizebl_mn if mn == "positive" else sizebl_mj
                if sizebl_n/sizebl_p == self.ratio:
                    if sizebl_mj <= self.max_dp and sizebl_mn >= self.min_dp:
                        sizebl_target_mj = sizebl_mj
                        sizebl_target_mn = sizebl_mn
                        break
            else:
                break

        if (sizebl_n/sizebl_p != self.ratio) or (sizebl_mj > self.max_dp) or (sizebl_mn < self.min_dp):
            raise ValueError("Cannot find the pair of data size values that satisty the condition.")
        
        return [sizebl_target_mj, sizebl_target_mn]


BinaryDataBalancer(1.0, max_dp=700, min_dp=300).fit(df, df["credibility"])

500 500 700 300
501 500 700 300
501 499 700 300
501 498 700 300
501 497 700 300
501 496 700 300
501 495 700 300
501 494 700 300
501 493 700 300
501 492 700 300
501 491 700 300
501 490 700 300
501 489 700 300
501 488 700 300
501 487 700 300
501 486 700 300
501 485 700 300
501 484 700 300
501 483 700 300
501 482 700 300
501 481 700 300
501 480 700 300
501 479 700 300
501 478 700 300
501 477 700 300
501 476 700 300
501 475 700 300
501 474 700 300
501 473 700 300
501 472 700 300
501 471 700 300
501 470 700 300
501 469 700 300
501 468 700 300
501 467 700 300
501 466 700 300
501 465 700 300
501 464 700 300
501 463 700 300
501 462 700 300
501 461 700 300
501 460 700 300
501 459 700 300
501 458 700 300
501 457 700 300
501 456 700 300
501 455 700 300
501 454 700 300
501 453 700 300
501 452 700 300
501 451 700 300
501 450 700 300
501 449 700 300
501 448 700 300
501 447 700 300
501 446 700 300
501 445 700 300
501 444 700 300
501 443 700 300
501 442 700 300
501 441 700 300
501 440 700 300
501 439 700 300
501 438 700 300
501 437 700 300
501 436 700 300
501 435 700 300
501 434 700 300
501 433 700 300
501 432 700 300
501 431 700 300
501 430 700 300
501 429 700 300
501 428 700 300
501 427 700 300
501 426 700 300
501 425 700 300
501 424 700 300
501 423 700 300
501 422 700 300
501 421 700 300
501 420 700 300
501 419 700 300
501 418 700 300
501 417 700 300
501 416 700 300
501 415 700 300
501 414 700 300
501 413 700 300
501 412 700 300
501 411 700 300
501 410 700 300
501 409 700 300
501 408 700 300
501 407 700 300
501 406 700 300
501 405 700 300
501 404 700 300
501 403 700 300
501 402 700 300
501 401 700 300
501 400 700 300
501 399 700 300
501 398 700 300
501 397 700 300
501 396 700 300
501 395 700 300
501 394 700 300
501 393 700 300
501 392 700 300
501 391 700 300
501 390 700 300
501 389 700 300
501 388 700 300
501 387 700 300
501 386 700 300
501 385 700 300
501 384 700 300
501 383 700 300
501 382 700 300
501 381 700 300
501 380 700 300
501 379 700 300
501 378 700 300
501 377 700 300
501 376 700 300
501 375 700 300
501 374 700 300
501 373 700 300
501 372 700 300
501 371 700 300
501 370 700 300
501 369 700 300
501 368 700 300
501 367 700 300
501 366 700 300
501 365 700 300
501 364 700 300
501 363 700 300
501 362 700 300
501 361 700 300
501 360 700 300
501 359 700 300
501 358 700 300
501 357 700 300
501 356 700 300
501 355 700 300
501 354 700 300
501 353 700 300
501 352 700 300
501 351 700 300
501 350 700 300
501 349 700 300
501 348 700 300
501 347 700 300
501 346 700 300
501 345 700 300
501 344 700 300
501 343 700 300
501 342 700 300
501 341 700 300
501 340 700 300
501 339 700 300
501 338 700 300
501 337 700 300
501 336 700 300
501 335 700 300
501 334 700 300
501 333 700 300
501 332 700 300
501 331 700 300
501 330 700 300
501 329 700 300
501 328 700 300
501 327 700 300
501 326 700 300
501 325 700 300
501 324 700 300
501 323 700 300
501 322 700 300
501 321 700 300
501 320 700 300
501 319 700 300
501 318 700 300
501 317 700 300
501 316 700 300
501 315 700 300
501 314 700 300
501 313 700 300
501 312 700 300
501 311 700 300
501 310 700 300
501 309 700 300
501 308 700 300
501 307 700 300
501 306 700 300
501 305 700 300
501 304 700 300
501 303 700 300
501 302 700 300
501 301 700 300

ValueError: Cannot find the pair of data size values that satisty the condition.

In [24]:
# target = df["credibility"]
# target[target == 0].count()
df[["credibility"]].columns[0]

'credibility'